#body{
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 900px;
    justify-content: space-around;
    align-items: center;
    margin: auto;

}

#screen{
    height:100px;
    width:500px;
    border: solid;
    border-width: 5px;
    border-color: aquamarine;
    display: flex;
    
}

#input{
    height:100px;
    width: 70%;
}

#result{
    height:100px;
    width: 30%;
}

#buttons{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 700px;

}
.column{
    display: flex;
}
.button{
    border: solid;
    border-width: 5px;
    border-color: aquamarine;
    background-color: lightblue;
    text-align: center;
    width:100px;
    height:100px;
}




